<header>
  <div class="container">
    <div class="logocontainer"><a routerLink="/" class="logo">{{ appTitle }}</a></div>
    <div class="linkcontainer">
        <div *ngIf="!authservice.isLoggedIn()" class="headlink"><a routerLink="/connexion">Se connecter</a></div>
        <div *ngIf="!authservice.isLoggedIn()" class="headlink"><a routerLink="/form" >S'enregistrer</a></div>
        <div *ngIf="authservice.isLoggedIn()" class="headlink"><a (click)="logout()">Deconnexion</a></div>
        <div *ngIf="authservice.isLoggedIn()" class="headlink"><a routerLink="/user/profil/{{currentUser.id}}">Profil</a></div>
    </div>
  </div>
</header>