<header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <div *ngIf="!authservice.isLoggedIn()"><a routerLink="/connexion" (click)="drawer.toggle()">Se connecter</a></div>
    <div *ngIf="!authservice.isLoggedIn()"><a routerLink="/form" (click)="drawer.toggle()">S'enregistrer</a></div>
    <div *ngIf="authservice.isLoggedIn()"><a routerLink="/form" (click)="authservice.logout(); drawer.toggle()">Deconnexion</a></div>
    <div *ngIf="authservice.isLoggedIn()"><a routerLink="/user/userprofil/{{user}}" (click)="drawer.toggle()">Profil</a></div>
    <nav>
    </nav>
  </div>
</header>