
<div class="truckProfil">
  <div class="sideInfo">
    <div class="logo"><img src="../../../../../assets/logo/truckowner/avecModif/premier.jpg" /></div>
    <div class="contact"></div>
  </div>
  <div class="page">
    <div class="card">

      <ul class="menu">
        <li class="choixMenu" *ngFor="let produit of trucks[0].produits, let i = index">
          <div class="truckcarteelem">
            <div>{{produit.nom}}</div>
            <div>{{produit.desc}}</div>
          </div>
          <div class="truckcarteelem">{{produit.prix}}</div>
          <button class="btn btn-danger button1" (click)="addCart(produit)">Ajouter</button>
        </li>
      </ul>
    </div>
  </div>
</div>