<div class="container">
  <div id="formulaires">
    <h4>Connexion</h4>
    <form class="form-fields" method="post" [formGroup]="connexionForm" (ngSubmit)="connexion()">
      <div>
        <mat-form-field>
          <mat-label>Adresse email</mat-label>
          <input matInput type="email" placeholder="pierre.durand@orange.fr" maxlength="25" formControlName="mail"
            pattern="^[a-zA-Z]+" required />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" placeholder="********" pattern="^[a-zA-Z0-9]+" minlength="8" maxlength="25" formControlName="password" matTooltip="Veuillez entrer un mot de passe avec un minimum de 8 caractères"
            required />
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button MatFormFieldControl type="submit" [disabled]="!connexionForm.valid" color="primary">
          Je me connecte </button>
      </div>
    </form>
  </div>
</div>
