<div class="container">
  <form method="post" [formGroup]="connexionForm" (ngSubmit)="connexion()">
    <div class="row">
      <div>
        <label for="mail">Adresse mail</label>
      </div>
      <div>
        <input type="email" id="mail" formControlName="mail" placeholder="Adresse mail" required>
      </div>
    </div>

    <div class="row">
      <div>
        <label for="password">Mot de passe</label>
      </div>
      <div>
        <input type="text" id="password" formControlName="password" placeholder="Mot de passe" required>
      </div>
    </div>
    <br>

    <div class="row">
      <input type="submit" value="Se connecter" id="button_connection">
    </div>

    <br>
    <a href="" id="a_pass">Mot de passe oublié ?</a><br><br>
  </form>
</div>
