#formulaires{
    background-color: rgb(226, 225, 225);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px black;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    
    // margin: 100px;
}