 /* Style inputs */
 input[type=text], input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; 
    background: rgb(250, 239, 182);
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #69AEB5;
  }
  
  /* Style du bouton */
  input[type=submit] {
    margin: 15px;
    background: #69AEB5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 105px;
  }
  
  /* Style du container */
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  ::-webkit-input-placeholder {
    opacity: .2;
  }
  ::-moz-placeholder {
    opacity: .2;
  }
  :-ms-input-placeholder {
    opacity: .2;
  }
  ::placeholder {
    opacity: .2;
  }