#formulaires{
    background-color: rgb(250, 252, 237);
    border: 1px solid rgb(129, 6, 37);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgb(129, 6, 37);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    
    // margin: 100px;
}