  <div class="container">
    <form method="post" [formGroup]="form" (ngSubmit)="chooseFunction()">
      <div class="row">
        <div class="col-25">
          <label for="name">Nom</label>
        </div>
        <div class="col-50">
          <input type="text" id="name" formControlName="name" placeholder="Nom" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="firstname">Prénom</label>
        </div>
        <div class="col-50">
          <input type="text" id="firstname" formControlName="firstname" placeholder="Prénom" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="password">Mot de passe</label>
        </div>
        <div class="col-50">
          <input type="text" id="password" formControlName="password" placeholder="Mot de passe" required>
        </div>
      </div>
      <div class="row">
          <div class="col-25">
            <label for="mail">Adresse Mail</label>
          </div>
          <div class="col-50">
            <input type="email" id="mail" formControlName="mail" placeholder="Adresse Mail" required>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="tel">Téléphone</label>
          </div>
          <div class="col-50">
            <input type="text" id="tel" formControlName="tel" placeholder="Numéro de téléphone">
          </div>
        </div>
      <div class="row">
        <input type="submit" value="Je m'inscris !">
      </div>
    </form>
  </div>