footer
{
    position: fixed;
    bottom: 0;
    margin-top: 25px;
    background: rgb(129, 6, 37);
    width: 100%;

    .logo
    {
        font-weight: bold;
        padding: 0.3rem;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
}