<div class="profilcontainer">
  <div class="example-ripple-container mat-elevation-z4 photocontainer" matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
    Votre photo
  </div>
  <div class="cardprofilcontainer">
    <div>
      <mat-card class="cardcontainer">
        <div class="cardelements">{{ user.name }}</div>
        <div class="cardelements">{{ user.mail }}</div>  
      </mat-card>
      <div class="buttonprofilcontainer">
          <button type="button" class="btn btn-danger button1" (click)="editStatus('userForm')">Editer mon compte</button>
          <button type="button" class="btn btn-danger button1" (click)="editStatus('truckForm')">Ajouter un Truck</button>
          <button type="button" class="btn btn-danger button1" (click)="suppruser()">Supprimer mon comtpe</button>
      </div>
    </div>
    <mat-card class="truckcontainer" *ngFor="let truck of trucks">
      <div class="eachtruck">
        <div>
          <div class="cardelements truckname">{{ truck.name }}</div>
          <div class="cardelements">Accepte la pré-commande: {{ truck.prec }}</div>
          <div class="cardelements">Accepte la paiement en ligne: {{ truck.prep }}</div>
        </div>
        <div class="imageedit" (click)="editStatus('editTruckForm'); getTruck(truck.id)">
          <img width="100%" src="../../../assets/edit.png"/>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<mat-card class="cardformcontainer" [ngClass]="{show: states.userForm, hide: !states.userForm}">
  <form class="form-fields" method="post" [formGroup]="formProfilUser" (ngSubmit)="updateuser()">
    <div class="formcontainer">

      <div style="margin-right: 1%;">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput type="text" placeholder="Durand" maxlength="25" formControlName="name" pattern="^[a-zA-Z]+"
            required />
        </mat-form-field>
      </div>

      <!-- <div>
        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input matInput type="text" placeholder="Pierre" maxlength="25" formControlName="firstname" pattern="^[a-zA-Z]+"
            required />
        </mat-form-field>
      </div> -->

      <div style="margin-right: 1%;">
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" placeholder="********" min="8" minlength="8" maxlength="25"
            formControlName="password" matTooltip="Veuillez entrer un mot de passe avec un minimum de 8 caractères" required />
        </mat-form-field>
      </div>

      <div style="margin-right: 1%;">
        <mat-form-field>
          <mat-label>Adresse Mail</mat-label>
          <input matInput id="mail" type="email" placeholder="pierre.durand@orange.fr" maxlength="50"
            formControlName="mail" pattern="" required />
        </mat-form-field>
      </div>

      <div style="margin-right: 1%;">
        <mat-form-field>
          <mat-label>Téléphone</mat-label>
          <input matInput id="tel" type="tel" placeholder="0606060606" maxlength="25" formControlName="tel" required />
        </mat-form-field>
      </div>

      <div>
        <button class="btn btn-danger button1" MatFormFieldControl type="submit">Modifier</button>
      </div>

    </div>
  </form>
</mat-card>

<!--  Formulaire ajouter un truck-->
<mat-card class="cardformcontainer" [ngClass]="{show: states.truckForm, hide: !states.truckForm}">
  <form class="form-fields" method="post" [formGroup]="formAddTruck" (ngSubmit)="addTruck()">
    <div class="formcontainer">

      <div class="formelements">
        <mat-form-field>
          <mat-label>Nom du Truck</mat-label>
          <input matInput type="text" placeholder="Nom" formControlName="nametruck" pattern="^[a-zA-Z]+" required />
        </mat-form-field>
      </div>

      <div class="formelements">
          <mat-label>Accepter les pré-commande</mat-label>
          <input type="checkbox" formControlName="precom" required />
      </div>

      <div class="formelements">
          <label for="prepaie">Accepter les pré-paiement</label>
          <input id="prepaie" type="checkbox" formControlName="prepaie" required />
      </div>

      <div class="formelements">
        <mat-form-field>
          <mat-label>Logo du Truck</mat-label>
          <input matInput type="text" placeholder="Logo" formControlName="logotruck"/>
        </mat-form-field>
      </div>

      <div class="formelements">
        <mat-form-field>
          <mat-label>Image du Truck</mat-label>
          <input matInput type="text" placeholder="Image" formControlName="imgtruck"/>
        </mat-form-field>
      </div>

      <div>
        <textarea rows="2" cols="50" placeholder="Histoire" formControlName="txttruck"></textarea>
      </div>
    </div>
    <button class="btn btn-danger button1" style="margin: 1%;" MatFormFieldControl type="submit">Ajouter</button>
  </form>
</mat-card>
