<div class="truckProfil">
  <div class="sideInfo">
    <div class="logo"><img src="../../../../../assets/logo/truckowner/avecModif/premier.jpg" /></div>
    <div class="aboutUs">{{trucks[0].name}}</div>
    <div class="contact"></div>
  </div>
  <div class="page">
    <div class="schedule"> A consommer sur notre terrasse ou à emporter. Des produits frais pour des plats faits maison, viande Française "Montbéliarde" hachée par nos soins, frites maison & pain artisanal.</div>
    <div class="card">
      <ul class="menu">
        <li class="choixMenu"><p>Le burger Classique</p><p>Confit d'oignons, bacon, Cheddar, Sauce Barbecue Maison</p><p><input id="b1" type="button" value="Ajouter" /></p></li>

        <li class="choixMenu"><p>Le burger Roquefort</p><p>Confit d'oignons, Crème de Roquefort Maison</p><p><input id="b2" type="button" value="Ajouter" /></p></li>
    
        <li class="choixMenu"><p>Le burger Méxicain</p><p>Oignons, Poivrons et Piment Maison</p><p><input id="b3" type="button" value="Ajouter" /></p></li>
      
        <li class="choixMenu"><p>Le double burger</p><p>Au choix: Classic, Roquefort ou Méxicain</p><p><input id="b4" type="button" value="Ajouter" /></p></li>
        
        <li class="choixMenu"><p>Pulled Pork Sandwich</p><p>Epaule de Porc Braisée 12H dans de la Bière et des Epices</p><p><input id="b5" type="button" value="Ajouter" /></p></li>
        
        <li class="choixMenu"><p>Burger Ribs Barbecue</p><p>Nos Ribs désossées services dans notre pain burger avec des légumes</p><p><input id="b6" type="button" value="Ajouter" /></p></li>

      </ul>
    </div>
  </div>
</div>