<div class="carousel container">
  <div class="imagesBurger">
    <a href=""><img id="imgA" src="../../../assets/ba150.png"></a>
    <a href=""><img id="imgB" class="bb" src="../../../assets/bb150.png"></a>
    <a href=""><img id="imgC" src="../../../assets/bc150.png"></a>
  </div>
  <div class="fleche">
    <a href="{{img}}" (click)="defilementDesImagesVersLeBas()"><img class="imgFleB" src="../../../assets/fleB.png" /></a>
    <a href="{{img}}" (click)="defilementDesImagesVersLeHaut()"><img class="imgFleH" src="../../../assets/fleH.png" /></a>
  </div>
</div>
  <!-- <div class="fleche">
    
  </div> -->
