::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent;
}

.side-container {
  position: absolute;
  z-index: 2;
  width: 25%;
  height: 500px;
  right: 0;
  overflow: hidden;
}

.sidenav-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidenav-bouton {
  position: absolute;
  right: 0%;
}

