<div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled"
  [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color">
  Votre photo
</div>
<br />
<div class="centrer">
<form [formGroup]="form" (ngSubmit)="validerFormulaire()">
  <div class="form-fields">
    <mat-label class="titre"> Modification </mat-label>
  </div>
  <div class="form-fields">
    <mat-slide-toggle #slide (click)="toogle1()"></mat-slide-toggle><div class="espace"></div>
    <input matInput type="text" placeholder="{{user.pseudo}}" maxlength="25" formControlName="pseudoUser" [hidden]="getBoutonPseudo()" required /><div class="espace"></div>
    <mat-label> {{ user.pseudo }} </mat-label><div class="espace"></div>
  </div>
  <div class="form-fields">
    <mat-slide-toggle #slide (click)="toogle2()"></mat-slide-toggle><div class="espace"></div>
    <input matInput type="text" placeholder="{{user.nom}}" maxlength="25" formControlName="nomUser" [hidden]="getBoutonNom()" required /><div class="espace"></div>
    <mat-label> {{ user.name }} </mat-label><div class="espace"></div>
  </div>
  <div class="form-fields">
    <mat-slide-toggle #slide (click)="toogle3()"></mat-slide-toggle><div class="espace"></div>
    <input matInput type="email" placeholder="{{user.email}}" maxlength="25" formControlName="emailUser" [hidden]="getBoutonEmail()" required /><div class="espace"></div>
    <mat-label> {{user.mail}} </mat-label><div class="espace"></div>
  </div>
  <div class="vertical"></div>
  <div class="form-fields boutonValider">
    <button mat-raised-button MatFormFieldControl type="submit" [disabled]="!form.valid" color="primary">Valider</button>
  </div>
</form>

<!--<div class="vertical"></div>
  <div class="form-fields boutonEffacer">
    <app-popupop></app-popupop>
  </div>
</div>-->
  